<div id="tmd-container" class="container padding">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <input id="tmd-search-input" formControlName="searchQuery" class="form-control" type="text" placeholder="Enter movie title" required />
        <div class="checkbox">
          <label><input id="tmd-for-adults" formControlName="forAdults" type="checkbox" />Display adult movies</label>
        </div>
      </div>
      <div class="col-md-1 text-center">
        <button id="tmd-search-button" class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
  <div class="tmd-result-item" *ngFor="let movie of movies.results">
    <app-search-item [movie]="movie"></app-search-item>
  </div>
  <app-pagination [page]="page" [pages]="pages" (onPageChange)=setPage($event)></app-pagination>
</div>
